    /* sass */
    
    $maincolor: #eee;
    $color: #E0232A;
    $secondColor: #1A1F25;
    .btnn {
        background-color: #2D3E50;
        color: #fff;
        border: 3px solid #fff;
        padding: 10px 65px;
        font-weight: 600;
        margin-bottom: 60px;
    }
    /* style */
    
    body {
        direction: rtl;
        background: #FBFBFB;
    }
    
    html {
        //scroll-behavior: smooth;
    }
    /*
        top nav style
    */
    
    .top-nav {
        background: #2D3E50;
    }
    
    .nav-link {
        color: #fff;
    }
    
    li.nav-item.active a.nav-link {
        border-bottom: 2px solid #E0232A;
        color: #E0232A !important;
    }
    
    .navbar {
        a.nav-link {
            color: rgba(0, 0, 0, 0.71);
            position: relative;
            font-weight: 500;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-top: 2rem;
            padding-bottom: 2rem;
        }
        a.nav-link:after {
            /* left: 1; */
            content: '';
            position: absolute;
            height: 42%;
            width: 1px;
            background: #e9e7e7;
            top: 29px;
            left: 1;
        }
        a.nav-link.las:after {
            content: "";
            height: 0px;
            width: 0px;
        }
    }
    
    nav.bg-light {
        background-color: #ffffff !important;
        box-shadow: 0px 2px 20px 2px #eee;
    }
    /* top main */
    
    .top-main {
        background: url('../img/BG.jpg');
        .right {
            padding: 50px;
            h3 {
                color: #AA1114;
                padding-top: 60px;
            }
            p {
                color: #29292B;
                line-height: 60px;
                font-size: 24px;
                font-weight: 400;
            }
            button {
                @extend .btnn;
            }
        }
    }
    /* bottom main */
    
    .bottom-main {
        background: #F4F4F4;
        .right {
            padding: 70px 50px 50px 0px;
            font-size: 22px;
            line-height: 40px;
            span {
                color: #AC0D07;
                font-weight: 500;
            }
        }
    }
    /* Articles */
    
    .articles {
        padding-top: 70px;
        padding-bottom: 35px;
        background: #FBFBFB;
        h3 {
            color: $color;
            margin-bottom: 30px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: -10px;
                right: 0;
                height: 2px;
                background: $color;
                width: 120px;
            }
        }
        .no-js .owl-carousel,
        .owl-carousel.owl-loaded {
            position: relative;
            .owl-dots {
                display: none;
            }
            .owl-nav {
                margin-top: -6rem;
                position: absolute;
                top: 0;
                left: 5rem;
                font-size: 3rem;
                color: #B0B0B0;
                outline: 0;
                button {
                    outline: 0 !important;
                    span {
                        &:focus {
                            outline: 0 !important;
                        }
                    }
                    &:hover {
                        background: inherit !important;
                        color: #B0B0B0;
                        opacity: 0.6;
                    }
                }
            }
            .card {
                width: 90%;
                margin: 0px auto;
                position: relative;
                .card-img-top {
                    margin: 3px;
                    width: calc(100% - 6px);
                }
                button {
                    @extend .btnn;
                    padding: 10px 45px;
                    margin-bottom: 0px;
                    margin: 0 auto;
                    display: block;
                }
                span {
                    background: #2D3E50;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    position: absolute;
                    top: 2px;
                    left: 15px;
                    svg.svg-inline--fa.fa-heart.fa-w-16 {
                        width: 100%;
                        /* height: 100%; */
                        /* line-height: 50px; */
                        color: #fff;
                        /* margin-top: 15px; */
                        /* line-height: 50px; */
                        margin-top: 15px;
                        font-size: 22px;
                    }
                }
            }
        }
        .ord {
            padding-top: 50px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: -15px;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 2px;
                background: $color;
                width: 120px;
            }
        }
    }
    /*
=====================
orders
=====================
*/
    
    .orders {
        background: #F5F5F5;
        padding: 40px 0 30px 0;
        .dropdown-toggle::after {
            display: none !important;
        }
        .right {
            margin: 5px auto;
        }
        .inp {
            float: right;
            border: 0;
            height: 50px;
            width: 250px;
            text-align: center;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
        .inpp {
            @extend .inp;
        }
        .dropdown-menu.show {
            left: 40px !important;
            width: 225px;
            text-align: center;
        }
        button#dropdownMenuButton {
            border: 0;
            border-radius: 0;
            background: #fff;
            height: 50px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            &:focus {
                outline: 0;
                border-color: #fff;
            }
        }
        button#dropdownMenuButtonn {
            border: 0;
            border-radius: 0;
            background: #fff;
            height: 50px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            &:focus {
                outline: 0;
                border-color: #fff;
            }
        }
        svg.svg-inline--fa.fa-chevron-down.fa-w-14 {
            color: #29292B;
        }
        .search {
            background: #fff;
            margin: 0rem auto;
            /* padding: 0.5rem; */
            width: 60px;
            height: 60px;
            border-radius: 50%;
            cursor: pointer;
            svg.svg-inline--fa.fa-search.fa-w-16 {
                font-size: 1.5rem;
                margin: 1rem;
            }
        }
        .bplus {
            background: #fff;
            padding: 10px;
            border-top-right-radius: 70px;
            border-bottom-right-radius: 70px;
            margin-top: 1rem;
            .right {
                background: #F8F8F8;
                border-radius: 50%;
                font-size: 60px;
                width: 9rem;
                height: 9rem;
            }
            .mid {
                line-height: 2rem;
                font-size: 1.2rem;
                margin-right: 1rem;
            }
            button {
                margin: 2rem;
                background: #F6F6F6;
                color: #282828;
                cursor: pointer;
            }
            .two {
                background: #2D3E50;
            }
        }
        .mor {
            @extend .btnn;
            display: block;
            margin: 20px auto;
        }
    }
    /*
contact
*/
    
    .contact {
        background: url('../img/call.jpg') no-repeat;
        background-size: cover;
        padding: 2rem 0 3rem;
        .contact-details {
            width: 60%;
            text-align: center;
            h3 {
                color: $color;
                margin-bottom: 30px;
                margin-top: 40px;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 2px;
                    background: $color;
                    width: 120px;
                }
            }
            p {
                font-weight: bold;
            }
            .whats {
                span {
                    height: 150px;
                    background: #3AB54A;
                    color: #fff;
                    padding-top: 29px;
                    padding-bottom: 25px;
                    padding-right: 50px;
                    border-top-right-radius: 50px;
                    border-bottom-right-radius: 50px;
                }
                img {
                    height: 85px;
                    margin-left: -33px;
                }
            }
        }
    }
    /*
=================
APPLICATION 
=================
*/
    
    .app {
        background: url('../img/BG-phone.png') no-repeat;
        background-size: cover;
        padding: 2rem 0 2rem;
        .imgg {
            width: 100%;
        }
        h3 {
            color: #484443;
            margin-bottom: 2rem;
        }
        p {
            line-height: 3;
            color: #474747;
            font-size: 20px;
        }
        .avail {
            color: #474344;
        }
    }
    /*
footer
-========
*/
    /* top footer */
    
    .top-footer {
        background: $secondColor;
        padding: 60px 0 20px 0;
        h4 {
            margin: 1rem 0;
        }
        .mid {
            a.nav-link {
                transition: 0.3s all;
                height: 50px;
                &:hover {
                    color: $color;
                    opacity: 0.7;
                }
            }
            li.nav-item.active a.nav-link {
                border: 0;
                font-weight: 500;
            }
        }
        .left {
            h5 {
                color: $color;
                margin-bottom: 50px;
                text-align: center;
            }
            img {
                //margin-bottom: 20px;
                display: block;
                margin: 10px auto;
            }
        }
    }
    /* bottom footer */
    
    .bottom-footer {
        background: #14171C;
        ul {
            margin-bottom: 0 !important;
        }
        span {
            color: $color;
        }
    }
    /*
ORDERS PAGE
-========================
*/
    
    .orders-page {
        button {
            transition: 0.4s all;
            &:hover {
                background: #2D3E50;
                color: #fff;
            }
        }
        .ord-app {
            @extend .btnn;
            margin-bottom: 0;
            padding: 4px 0 4px 30px;
            border-radius: 10px;
            img {
                margin-top: -20px;
                margin-right: -25px;
            }
        }
        nav {
            text-align: center !important;
            .pagination {
                margin-top: 2rem;
                .page-link {
                    color: #2D3E50;
                    padding: 1rem 1rem;
                    margin-right: 5px;
                }
                .page-item.active .page-link {
                    z-index: 1;
                    color: #fff;
                    background-color: #2D3E50;
                    border-color: #2D3E50;
                }
            }
        }
    }
    
    .con {
        width: 80%;
        margin: 5px auto;
        margin-top: 3rem;
    }
    
    .orders h4 {
        padding-top: 50px;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: -15px;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 2px;
            background: $color;
            width: 100px;
        }
    }
    
    .pagination {
        display: inline-flex;
    }
    
    .navigation {
        text-align: center;
    }
    /*login page */
    
    .breadcrumb {
        margin: 2rem 0;
    }
    
    .login-form {
        background: #fff;
        margin-bottom: 2rem;
        form {
            width: 70%;
            margin: 1rem auto;
            padding: 2rem 0;
            .form-control {
                border-radius: 0;
                font-weight: 500;
            }
            input.form-control {
                margin-top: 1rem;
                background: #FBFBFB;
                padding: 1.5rem;
            }
            /* .custom-select {
                margin-top: 1rem;
                background: #FBFBFB;
                padding: 1.5rem;
            }*/
            .btn-create {
                background: #3AB54A;
                color: #fff;
                padding: 0.5rem 5rem;
                display: block;
                text-align: center;
                margin: 1.5rem auto;
            }
        }
    }
    
    .dpmnu {
        position: relative;
        svg.svg-inline--fa.fa-chevron-down.fa-w-14,
        svg.svg-inline--fa.fa-calendar-alt.fa-w-14 {
            position: absolute;
            top: 40%;
            left: 20px;
            color: #7B7B7B;
        }
    }
    /*
    login 
    */
    
    .login-page {
        .login-form form .btn-create {
            display: initial;
            margin: 0;
            padding: 0.5rem 0rem;
            width: 17rem;
            margin-left: 2rem;
        }
        .btnn {
            margin-bottom: 0;
            padding: 0.5rem 0rem;
            width: 17rem;
        }
    }
    /*
contact page 
*/
    
    .contactt {
        .btnn {
            padding: 2rem 0px;
            line-height: 0;
            margin-bottom: 2rem;
            border: 0;
        }
        .right {
            background: #fff;
            padding-bottom: 5rem;
            img {
                width: 50%;
                display: block;
                margin: 0px auto;
            }
        }
        svg:not(:root).svg-inline--fa {
            color: #fff;
        }
        .f {
            background: #3A549F;
        }
        .in {
            background: #C937A6;
        }
        .y {
            background: #D34C2E;
        }
        .t {
            background: #50ABF1;
        }
        .g {
            background: #DE4B39;
        }
        .w {
            background: #1BD742;
        }
        span {
            padding: 1.1rem 0.5rem;
            .svg-inline--fa.fa-w-20,
            .svg-inline--fa.fa-w-14,
            .svg-inline--fa.fa-w-18,
            .svg-inline--fa.fa-w-16,
            .svg-inline--fa.fa-w-10 {
                width: 10% !important;
            }
        }
        h6 {
            color: #E62223;
            margin-bottom: 2rem;
        }
        .left {
            background: #fff;
            .form-control {
                border-radius: 0;
                font-weight: 500;
            }
            input.form-control,
            textarea.form-control {
                margin: 1rem 6px 0 6px;
                background: #FBFBFB;
                width: calc(100% - 12px);
                padding: 1.5rem;
            }
        }
    }
    /*
    ==============
    about page
    ================
    */
    
    .about {
        background: #fff;
        padding: 2rem 1rem 4rem 1rem;
        margin-bottom: 2rem;
        border: 1px solid #F3F3F3;
        img {
            display: block;
            margin: 2rem auto;
            height: 5rem;
            width: 17rem;
        }
        p {
            font-weight: 500;
        }
    }
    /*
    ================
    details page
    ===============
    */
    
    .details {
        h4 {
            position: relative;
            background: #2D3E50;
            color: #fff;
            padding: 1rem;
            font-size: 1.3rem;
            svg.svg-inline--fa.fa-heart.fa-w-16 {
                position: absolute;
                left: 1.5rem;
            }
        }
        .details-p {
            background: #fff;
            border: 1px solid #E9E9E9;
            margin: 2rem 0;
            p {
                padding: 1rem;
            }
        }
    }
    
    .det {
        margin-bottom: 3rem;
        .card {
            width: 90% !important;
        }
        h3:after {
            width: 188px;
        }
    }
    /*
    ===============
    order
    ==================
    */
    
    .or-det {
        background: #fff;
        border: 1px solid #E9E9E9;
        padding: 1rem;
        table {
            width: 98%;
            .odd {
                background: #FBFBFB;
            }
        }
        .table td,
        .table th {
            width: 50%;
            border: 0;
        }
        button {
            display: block;
            margin: 2rem auto;
        }
        p {
            margin: 0.3rem;
            padding: 1rem;
            border: 1px solid #E9E9E9;
        }
    }
    /*
    ===========
    dropdown menu
    ===============
    */
    
    .test {
        ul {
            list-style: none;
            background: #FFFFFF;
            display: inline-block;
            padding: 0rem;
            text-align: right;
            position: relative;
            margin-top: -1rem;
            &:after {
                content: '';
                position: absolute;
                width: 1rem;
                height: 1rem;
                left: 7%;
                background: #fff;
                top: -2%;
                transform: rotateZ(-45deg);
            }
            li {
                z-index: 5555;
                padding: 0.9rem;
                width: 14rem;
                cursor: pointer;
                color: #918f8f;
                font-weight: 500;
                position: relative;
                &:after {
                    content: '';
                    height: 1px;
                    position: absolute;
                    bottom: 0;
                    width: 99%;
                    background: #eee;
                    right: 0;
                }
                &:hover {
                    background: #2D3E50;
                    color: #fff;
                }
            }
        }
    }
    /*
=============
media query
==============
*/
    
    @media only screen and (max-width: 600px) {
        .orders .inp,
        .orders .inpp {
            width: 200px;
        }
        .orders .bplus {
            border-radius: 0;
            padding-bottom: 8rem;
            button {
                display: block !important;
                margin: 0 auto;
            }
        }
        .contact .contact-details .whats img {
            display: none;
        }
        .contact .contact-details .whats span {
            /* text-align: center; */
            /* height: 150px; */
            background: #3AB54A;
            color: #fff;
            padding-top: 0;
            padding-bottom: 0;
            padding-right: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            padding: 20px;
        }
        .contact .contact-details {
            width: 100%;
        }
    }
    
    .log {
        margin-bottom: 0 !important;
    }
    
    .new {
        margin-left: 10px;
        color: #878383;
        text-decoration: underline;
        font-weight: 500;
    }